[[source]]
url = "https://mirrors.huaweicloud.com/repository/pypi/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
pydantic = "*"
taospy = {extras = ["ws"], version = "*"}
requests = "*"
apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.12"
