-i https://mirrors.huaweicloud.com/repository/pypi/simple
annotated-types==0.7.0; python_version >= '3.8'
apscheduler==3.11.0; python_version >= '3.8'
certifi==2025.1.31; python_version >= '3.6'
charset-normalizer==3.4.1; python_version >= '3.7'
coverage[toml]==7.6.12; python_version >= '3.9'
idna==3.10; python_version >= '3.6'
iniconfig==2.0.0; python_version >= '3.7'
iso8601==1.0.2; python_version < '4.0' and python_full_version >= '3.6.2'
packaging==24.2; python_version >= '3.8'
pluggy==1.5.0; python_version >= '3.8'
pydantic==2.10.6; python_version >= '3.8'
pydantic-core==2.27.2; python_version >= '3.8'
pytest==8.3.4; python_version >= '3.8'
pytest-cov==4.1.0; python_version >= '3.7'
pytz==2025.1
requests==2.32.3; python_version >= '3.8'
taos-ws-py==0.3.8
taospy[ws]==2.7.13; python_version < '4.0' and python_full_version >= '3.6.2'
typing-extensions==4.12.2; python_version >= '3.8'
tzlocal==5.3; python_version >= '3.9'
urllib3==2.3.0; python_version >= '3.9'
